<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <input [(ngModel)]="description" type="text" />
  </div>
  <div>
    <span>Actual Input: {{ description }} </span>
  </div>
  <div>
    <span>Summary: {{ description | summary: 20 }}</span>
  </div>
  <div>
    <app-favorite [isFavorite]="isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>
  </div>
  <div>
    <!-- <a href="mailto:email@example.com">Send Email</a> -->
  </div>
  <li>
    <i class="fa fa-envelope"></i>
    <a href="{{ getEmailString() }}">Send Email</a>
  </li>   
  <div>
    <input type="text" [appInputFormat]="'uppercase'">
  </div> 
  <div class="basic-top-margin">
    <div class="btn btn-primary">Subscribe</div>
  </div>
</div>


